body, html {
    height: 100%;
    width: 100%;
}
.nav-wrapper {
    height: 100px;
}
#map {
    width: 100%;
    height: -o-calc(100% - 65px);
    /* opera */
    height: -webkit-calc(100% - 65px);
    /* google, safari */
    height: -moz-calc(100% - 65px);
    /* firefox */
}
